@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1rem;
    font-weight: 400;
    background: #a9d7d1;

    header {
        font-size: 42px;
        font-weight: 600;
        text-align: center;
        padding: 40px 0;
    }

    .container {
        margin: auto;
        width: 1520px;
        height: 100vh;
        display: flex;
        border-radius: 5px;
        align-items: center;
        background: #fafafa;
        flex-direction: column;

        .form-items {
        display: flex;

        label {
            font-size: 1.18em;
        }

        }

        .title p {
        margin: 45px 0;
        font-size: 1.3em;
        font-weight: 600;
        }

        .item1 {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        input {
            margin-left: 20px;
            width: 350px;
            padding: 10px;
            outline: none;
            border: 1px solid #bebebe;
            border-radius: 2px;

            &::placeholder {
                font-size: 1.5em;
                color: #bebebe;
            }
        }

        }

        .item2 {
        margin: 30px 0 0 7px;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        input {
            margin:0 0 0 20px;
            width: 350px;
            padding: 10px;
            outline: none;
            border: 1px solid #bebebe;
            border-radius: 2px;

            &::placeholder {
                font-size: 1.5em;
                color: #bebebe;
            }
        }

        }

        .item3 {
        margin: 30px 0 0 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        input {
            margin:0 0 0 20px;
            width: 350px;
            padding: 10px;
            outline: none;
            border: 1px solid #bebebe;
            border-radius: 2px;

            &::placeholder {
                font-size: 1.5em;
                color: #bebebe;
            }
        }
        }

        .item4 {
        display: flex;
        margin: 30px 555px 0 0;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 25px;
            font-size: 1.2em;
        }

        select {
            margin:0 0 0 20px;
            width: 180px;
            padding: 15px;
            outline: none;
            border: 1px solid #bebebe;
            border-radius: 2px;

            &::placeholder {
                font-size: 1.5em;
                color: #bebebe;
            }

            &:first-child {
            font-size: 1.05em;
            font-weight: 500;
            }
        }
        }

        .item5 {
        display: flex;
        margin: 30px 565px 30px 0;
        text-align: right;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 25px;
            font-size: 1.2em;
        }
        .radio-btns {
        margin:0 0 0px 20px;
        
        }
        }

        .item6 {
        display: flex;
        margin: 30px 405px 0 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 25px;
            font-size: 1.2em;
        }

        select {
            margin:0 0 0 20px;
            width: 200px;
            padding: 15px;
            outline: none;
            border: 1px solid #bebebe;
            border-radius: 2px;

            // &::placeholder {
            //     font-size: 1.05em;
            //     color: #bebebe;
            // }

            &:first-child {
            font-size: 1.05em;
            font-weight: 500;
            }
        }
        }

        .item6-2{
            display: flex;
            margin: 30px 565px 30px 0;
            text-align: right;
            flex-direction: row;
            align-items: center;
            justify-content: center;
    
            p {
                margin-bottom: 25px;
                font-size: 1.2em;
            }
            .main-check-items {
            margin:0 0 0px 30px;
            
            }
        }
        
        .item7 {
        align-items: center;
        justify-content: center;
        }
        
        .item8 {
        align-items: center;
        justify-content: center;
        }

        .radio-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        }

        .check-items {
        display: flex;
        }

        .main-check-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        }
    } 
}

