@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 400;
  background: #a9d7d1;
}

body header {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  padding: 40px 0;
}

body .container {
  margin: auto;
  width: 1420px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .wrapper {
  margin-left: 200px;
}

body .container .form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .form-items label {
  font-size: 1.18em;
}

body .container .title p {
  margin: 45px 0;
  font-size: 1.3em;
  font-weight: 600;
}

body .container .item1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item1 input {
  margin-left: 20px;
  width: 350px;
  padding: 10px;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 2px;
}

body .container .item1 input::-webkit-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item1 input:-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item1 input::-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item1 input::placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item2 {
  margin: 30px 0 0 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item2 input {
  margin: 0 0 0 20px;
  width: 350px;
  padding: 10px;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 2px;
}

body .container .item2 input::-webkit-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item2 input:-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item2 input::-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item2 input::placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item3 {
  margin: 30px 0 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item3 input {
  margin: 0 0 0 20px;
  width: 350px;
  padding: 10px;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 2px;
}

body .container .item3 input::-webkit-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item3 input:-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item3 input::-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item3 input::placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 555px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item4 p {
  margin-bottom: 25px;
  font-size: 1.2em;
}

body .container .item4 select {
  margin: 0 0 0 20px;
  width: 180px;
  padding: 15px;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 2px;
}

body .container .item4 select::-webkit-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item4 select:-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item4 select::-ms-input-placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item4 select::placeholder {
  font-size: 1.5em;
  color: #bebebe;
}

body .container .item4 select:first-child {
  font-size: 1.05em;
  font-weight: 500;
}

body .container .item5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 565px 30px 0;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item5 p {
  margin-bottom: 25px;
  font-size: 1.2em;
}

body .container .item5 .radio-btns {
  margin: 0 0 0px 20px;
}

body .container .item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 405px 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item6 p {
  margin-bottom: 25px;
  font-size: 1.2em;
}

body .container .item6 select {
  margin: 0 0 0 20px;
  width: 200px;
  padding: 15px;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 2px;
}

body .container .item6 select:first-child {
  font-size: 1.05em;
  font-weight: 500;
}

body .container .item6-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 565px 30px 0;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item6-2 p {
  margin-bottom: 25px;
  font-size: 1.2em;
}

body .container .item6-2 .main-check-items {
  margin: 0 0 0px 30px;
}

body .container .item7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 235px 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item7 p {
  margin-bottom: 25px;
  margin-right: 30px;
  font-size: 1.2em;
}

body .container .item7 textarea {
  min-width: 400px;
  max-width: 500px;
  min-height: 100px;
  max-height: 140px;
  padding: 15px 20px 0 48px;
}

body .container .item8 {
  margin-right: 200px;
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .item8 button {
  width: 400px;
  outline: 0;
  border: 0;
  padding: 20px;
  color: #fff;
  border-radius: 3px;
  background-color: blue;
}

body .container .radio-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .container .check-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .main-check-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=main.css.map */